<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/testdb</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>

    <mapping class="com.fujitsu.fs.javalab.bookshelf.models.Author"/>
      <mapping class="com.fujitsu.fs.javalab.bookshelf.models.AuthorBookname"/>
      <mapping class="com.fujitsu.fs.javalab.bookshelf.models.Book"/>
    <mapping class="com.fujitsu.fs.javalab.bookshelf.models.Token"/>
    <mapping class="com.fujitsu.fs.javalab.bookshelf.models.Client"/>
    <mapping class="com.fujitsu.fs.javalab.bookshelf.models.ClientHaving"/>
    <mapping class="com.fujitsu.fs.javalab.bookshelf.models.ClientWish"/>
  </session-factory>
</hibernate-configuration>