<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/Bookshelf</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>

    <mapping class="model.Author"/>
      <mapping class="model.AuthorBookname"/>
      <mapping class="model.Book"/>
    <mapping class="model.Token"/>
    <mapping class="model.Users"/>
    <mapping class="model.UsersHaving"/>
    <mapping class="model.UsersWish"/>
  </session-factory>
</hibernate-configuration>